body {
  margin: 0;
  font-family: serif;
  background: url("./background_two.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.3fr 1fr 0.5fr 0.5fr;
  grid-template-areas:
  "header"
  "description"
  "map"
  "search"
  "empty";
  background-color: hsl(1, 1%, 95%);
  border-left: 10px solid green;
  border-right: 10px solid green;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5fr 2fr;
  border-bottom: 10px solid green;
  background-image: linear-gradient(#ffffff, #82bb86, #097912);
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
  background: url("./dynasty8_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#scotland {
  margin: auto;
  padding: 0;
  grid-area: 2 / 1 / 3 / 2;
  font-size: 35px;
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  text-shadow: 0 0 5px white;
}

#scotland span {
  color: white;
  text-shadow: 0 0 5px black;
}

.description {
  grid-area: description;
  padding: 1em;
  font-size: 60%;
}

.map {
  margin: 0;
  grid-area: map;
  margin: 2%;
  border: 5px solid #d6d300;
  border-radius: 5px;
  background: url("./original_map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 5px black;
}

.search {
  grid-area: search;
  margin: auto;
  width: 15em;
  border-radius: 5px;
  background-color: #d6d300;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 0 5px black;
}

.search_icon {
  width: 5em;
  background: url("./search_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.search a {
  text-decoration: none;
  color: green;
  font-family: sans-serif;
  font-weight: bold;
  padding: 1em;
}

.search:hover {
  transform: scale(1.02);
}

@media (min-width: 950px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 0.4fr 2fr 0.5fr;
    grid-template-areas:
    "header header header"
    "description description search"
    "description description map"
    "empty empty empty";
  }

  .header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 4px solid green;
    background-image: linear-gradient(#ffffff, #82bb86, #097912);
  }

  .logo {
    grid-area: 1 / 1 / 2 / 2;
    background: url("./dynasty8_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .description {
    grid-area: description;
    padding: 1em;
    font-size: 1.05em;
  }

  .map {
    margin: 2%;
    grid-area: map;
    border: 5px solid #d6d300;
    border-radius: 5px;
    background: url("./original_map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px black;
  }

  .search {
    grid-area: search;
    margin: auto;
    margin-top: 1em;
    width: 95%;
    height: 70%;
    border-radius: 5px;
    background-color: #d6d300;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 0 5px black;
    cursor: pointer;
  }

  .search_icon {
    margin-left: 10px;
    background: url("./search_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .search a {
    margin: auto;
    margin-right: 0;
    padding: 10px;
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
  }
}
