body {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
  "nothing"
  "container"
  "empty";
  background: url("./map.jpg");
  background-size: cover;
  font-family: sans-serif;
}

.container {
  grid-area: container;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr 1fr 0.3fr 1fr;
  grid-template-areas:
  "firstlogo"
  "scotland"
  "quote"
  "enter"
  "poweredby"
  "securoserv";
  text-align: center;
  background-color: hsla(109, 55%, 41%, 0.82);
  box-shadow: 0 0 20px black;
}

.first_logo {
  width: 9em;
  height: 5em;
  margin: auto;
  grid-area: firstlogo;
  background: url("./dynasty8_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#scotland {
  margin: auto;
  padding: 0;
  grid-area: scotland;
  color: hsla(229, 53%, 30%, 1);
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

#scotland span{
  color: white;
}

.quote {
  grid-area: quote;
  width: 70%;
  margin: auto;
  color: white;
  font-size: 1.1em;
}

#enter {
  grid-area: enter;
  text-decoration: none;
  width: 50%;
  margin: auto;
  color: white;
  border-radius: 2px;
  background-color: hsla(52, 92%, 35%, 1);
  padding: 0.7em;
  text-transform: uppercase;
  font-size: 1.2em;
}

#enter:hover {
  background-color: hsla(52, 97%, 60%, 1);
  color: black;
  padding: 0.6em;
  font-size: 1.3em;
  cursor: pointer;
}

#powered {
  grid-area: poweredby;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.2em;
}

.second_logo {
  grid-area: securoserv;
  margin: auto;
  width: 6em;
  height: 80%;
  background: url("./securoserv_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 950px) {
  body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    background: url("./map.jpg");
    background-size: cover;
    font-family: sans-serif;
  }

  .container {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.2fr 0.3fr 0.8fr 1.2fr 0.3fr 0.7fr;
    grid-template-areas:
    "null"
    "firstlogo"
    "scotland"
    "quote"
    "enter"
    "poweredby"
    "securoserv";
  }

  .first_logo {
    width: 15em;
    height: 8em;
    margin: auto;
  }
}
