body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.2fr 2fr;
  grid-template-areas:
  "header"
  "nav"
  "main";
}

header {
  grid-area: header;
  background: url("./panoramic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 0.8fr;
}

.logo {
  grid-area: 1 / 2 / 2 / 3;
  background: url("./dynasty8_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#scotland {
  grid-area: 2 / 2 / 3 / 3;
  margin: auto;
  padding: 0;
  font-size: 35px;
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  text-shadow: 0 0 10px white;
}

#scotland span {
  color: white;
  text-shadow: 0 0 5px black;
}

nav {
  background-color: #276d18;
  grid-area: nav;
  margin: 0;
  display: flex;
}

nav div {
  text-transform: uppercase;
  color: #276d18;
  font-size: 20px;
  background-color: #e4d211;
  border-radius: 5px;
  margin: 0.5%;
  width: 25%;
  text-align: center;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

nav div:hover {
  transform: scale(0.95);
  box-shadow: 0 0 10px black;
}

.north_west {
  background-color: #276d18;
  color: #e4d211;
  transform: scale(0.95);
  box-shadow: 0 0 10px black;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #276d18;
}

main {
  margin-top: 5%;
  height: 100%;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
}

.presentation {
  margin: 1%;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:0.2fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas:
  "image null"
  "image location"
  "image location"
  "image price"
  "image zero";
  border: 5px double #e4d211;
  border-bottom: none;
}

.presentation p {
  color: black;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  font-family: sans-serif;
}

.image {
  margin: auto;
  height: 85%;
  width: 90%;
  grid-area: image;
  background: url("./North_west.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border: 2px solid #276d18;
  box-shadow: 0 0 10px black;
}

.location {
  grid-area: location;
  font-style: italic;
  padding-left: 3%;
}

.price {
  margin: auto;
  grid-area: price;
  font-weight: bold;
  background-color: green;
  border-radius: 50%;
  width: 70%;
  box-shadow: 0 0 10px black;
}

.price p {
  padding: 10px;
  margin: 0;
  font-size: 25px;
  color: white;
}

.description {
  grid-area: 2 / 1 / 3 / 2;
  margin: auto;
  padding: 1em;
  width: 80%;
  font-size: 20px;
  border-top: 5px solid green;
}

iframe {
  grid-area: 3 / 1 / 4 / 2;
  margin: auto;
  box-shadow: 0 0 50px black;
  width: 90%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.enquire {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.enquire input {
  box-shadow: 0 0 10px black;
  border-radius: 5px;
  font-size: 20px;
  margin: auto;
  height: 25%;
  width: 80%;
}

input[type=submit] {
    background-color: #276d18;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.03);
}

input[type=submit]:hover {
  transform: scale(1);
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

@media (min-width: 950px) {
  body {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.5fr 0.2fr 2fr;
  }

  nav div {
    font-size: 30px;
  }

  main {
    margin-top: 2%;
    height: 130vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.2fr 1fr;
    grid-gap: 1em;
  }

  .presentation {
    margin: 0 5% 5% 10%;
    grid-area: 1 / 1 / 2 / 2;
    border: 5px double #e4d211;
    border-right: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
    "image image image"
    "location location price";
  }

  .image {
    background-position: bottom;
  }

  .location p {
    padding: 0;
    font-size: 25px;
  }

  .description {
    grid-area: 1 / 2 / 2 / 3;
    border: none;
    border-left: 5px solid green;
    height: 60%;
    font-size: 30px;
  }

  .map {
    grid-area: 2 / 1 / 3 / 2;

  }

  iframe {
    grid-area: 2 / 1 / 2 / 2;
    width: 80%;
    height: 90%;
    margin-left: 15%;
  }

  .enquire {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 20px;
    margin: auto;
    height: 70%;
    width: 80%;
  }

  .enquire input {
    font-size: 30px;
  }
}
